[core]
# A base URL of your GitLab instance.
gitlab_url = "gitlab.example.com"
# At least one GitLab project is required. Each project will be managed in its own tab.
gitlab_projects = ["group1/subgroupA/project1", "group2/subgroupB/project2"]

[ui]
# Maximum number of pipelines to display on a single page (default: 25).
# max_page_size = 25

[keybindings.Home]
"<q>" = "Quit"
"<j>" = "Next"
"<k>" = "Previous"
