[core]
# A base URL of your GitLab instance.
gitlab_url = "https://gitlab.example.com"
# At least one GitLab project is required. Each project will be managed in its own tab.
gitlab_projects = ["group1/subgroupA/project1", "group2/subgroupB/project2"]
